.cheshire {
  display: flex;
  align-items: center;

  justify-content: center;
  background-color: #1c1c1c;
  padding-bottom: 50px;
  gap: 150px;

  h5 {
    color: #ffffff;
    font: normal normal 600 30px/43px Montserrat;
    margin: 30px auto;
  }
  p {
    color: #ffffff;
    width: 451px;
    text-align: left;
    font: normal normal normal 14px/20px Montserrat;
    margin-top: 30px;
  }
}
.image {
  img {
    margin: 0 auto;
    margin-top: 50px;
    animation: bouncing 1s infinite alternate linear;
  }
}
.nofoto {
  margin: 0 auto;
}
.orangestrip {
  width: 200px;
  height: 2px;

  background: transparent url("../img/orangestrip.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.cheshiresvgp {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: right;

  p {
    padding-left: 20px;
  }
  img {
    background: #e27866;

    padding: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid #e27866;
    border-radius: 50%;
  }
}
.iconscheshire {
  display: flex;
  flex-direction: row;
  align-items: center;
}
//.container .content {
//   button {
//     padding: 15px 30px;
//     font-size: 1.1rem;
//     font-weight: 600;
//     background: $orange-color;
//     border: 2px solid $orange-color;
//     border-radius: 4px;
//     color: orange;
//     transition: 0.3s;

//     &:hover {
//       background: white;
//       color: $orange-color;
//     }
//   }
// }

// .content,
// .img {
//   width: 50%;
// }

// #hero-area {
//   .img {
//     max-width: 600px;
//     height: 400px;
//     object-fit: contain;
//     animation: bouncing 1s infinite alternate linear;
//   }
// }

@keyframes bouncing {
  from {
    transform: translateX(10);
    opacity: 0.3;
  }
  to {
    transform: translateY(-10px);
  }
}

// #hero-area .container {
//   flex-direction: column;
//   text-align: center;
//   padding: 100px 30px;
//   .content,
//   .img {
//     width: 100%;
//   }

//   .img {
//     margin-top: 50px;
//   }

//   button {
//     width: 60%;
//   }
// }

@media (max-width: 1000px) {
  .cheshire {
    flex-wrap: wrap;
    gap: 0;
  }
  .orangestrip {
    margin: 0 auto;
  }
}
