.customers {
  opacity: 1;

  h1 {
    color: #1c1c1c;
    font: normal normal 600 36px/43px Montserrat;
  }
}

.chatcontainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin-bottom: 150px;
  margin: 0 auto;
}
.chatinside {
  display: flex;

  margin: 0 auto;
  flex-direction: column-reverse;
}
.foto {
  display: flex;
  border-radius: 100px;
  align-items: center;
  object-fit: cover;

  .customer-name {
    p {
      width: 100px;
      margin: 0;
      text-align: left;
      padding-left: 10px;
    }
  }
}
.manager {
  p {
    font: normal normal normal 14px/17px Montserrat;
    letter-spacing: 0px;
    color: #86878b;
    opacity: 1;
  }
}

.speak {
  border-radius: 8px;
  background: #6696e2;
  color: #ffffff;
  margin: 20px auto;
  width: 273px;
  height: 147px;

  p {
    text-align: left;
    margin: 20px;
    padding: 10px auto;
  }
}
.speak2 {
  border-radius: 8px;
  background: #6696e2;
  color: #ffffff;
  margin: 20px auto;
  width: 273px;
  height: 127px;

  p {
    text-align: left;
    margin: 20px;
    padding: 10px auto;
  }
}
.chat {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

// svaiperiukas2
#Customerscontainer {
  background: #ffff;
  h1 {
    color: #1c1c1c;
  }
}
#customerschat {
  background: #ffffff;
  p {
    color: #ffffff;
  }
}
#customername {
  p {
    color: black;
  }
  span {
    p {
      color: #86878b;
    }
  }
}
#speakid {
  height: auto;
}
