.exploresection {
  background: linear-gradient(
      270deg,
      rgba(102, 149, 226, 0.42),
      rgba(226, 120, 102, 0.42)
    ),
    url("../img/christoffer-engstrom-503481-unsplash.png");

  display: flex;
  //   flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center;
  transition: 2s;

  p {
    text-align: left;
    width: 517px;

    color: #ffffff;
  }

  h1 {
    text-align: left;
    color: #ffffff;
    width: 509px;
  }
}
.iconstext {
  //   background-color: rgb(190, 159, 159);
  display: flex;
  align-items: center;
}
.onlytext {
  text-align: left;
  margin: 20px;
  margin-bottom: 50px;
}
.cube {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  box-shadow: 0px 3px 6px #00000029;
  background-color: #a37169;
  transition: 1s;
  &:hover {
    background-color: #e27866;
  }
}

.cubeinside {
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);

  a {
    text-decoration: none;
    font-size: normal normal 600 14px/20px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.5;
  }
}
.cubefoto {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
    color: #ffffff;
    font: normal normal 600 20px/24px Montserrat;
    letter-spacing: 0px;
  }
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  //   background: lightblue;
  margin-left: 30px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.one {
  text-align: center;
  width: 168px;
  height: 168px;

  background-image: url("../img/photo-1493409137604-0901c55e4456.png");
  background-size: cover;
  opacity: 0.8;
  transition: 0.3s;
  &:hover {
    opacity: 1;
  }
}
.two {
  width: 168px;
  height: 168px;
  background-image: url("../img/photo-1543364195-bfe6e4932397.png");
  background-size: cover;
}
.three {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 362px;
  height: 177px;
  background-image: url("../img/photo-1448387473223-5c37445527e7.png");
  background-size: cover;
}
@media (max-width: 1000px) {
  .exploresection {
    flex-wrap: wrap;
  }
}
