footer {
  background: #1c1c1c;
  .footerflex {
    display: flex;

    height: 124px;
    justify-content: space-evenly;

    align-items: center;
    p {
      color: #ffffff;
      opacity: 0.5;
    }
  }
}
.fa {
  font-size: 30px;
  margin-right: 20px;
  color: #e27866;
  text-align: center;
  text-decoration: none;

  border-radius: 50%;
}
.fa:hover {
  opacity: 0.3;
}
// .fa-facebook {
//   color: white;
// }

// .fa-twitter {
//   color: white;
// }
