footer {
  background: #1c1c1c;

  .footerflex {
    display: flex;
    margin-right: 10px;
    height: 124px;
    justify-content: center;
    padding-left: 50px;
    align-items: center;
    p {
      color: #ffffff;
      opacity: 0.5;
      margin-right: 60px;
    }
  }
}
.fa {
  font-size: 30px;
  width: 20px;
  margin: 0 auto;
  padding-right: 60px;
  color: #e27866;
  text-align: left;
  text-decoration: none;

  border-radius: 50%;
}
.fa:hover {
  opacity: 1;
}
.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-instagram:hover {
  color: #8a3ab9;
}
.fa-pinterest:hover {
  color: #cb2027;
}
.fa-rss:hover {
  color: #ff6600;
}
