.mainpage {
  margin: 0;
  // background: linear-gradient(to top, rgb(87, 87, 87), #000000cc),
  // //   url("../img/photo-1480714378408-67cf0d13bc1b.png") no-repeat top center;
  background: grey;
  // background-image: url("../img/photo-1480714378408-67cf0d13bc1b.png");
  // box-shadow: inset 0 0 99999px rgba(7, 7, 7, 0.5);
  // background-size: cover;
  // background-position: center;
}
.stuffcontainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  img.divider {
    width: 84px;
    height: 22px;
  }
}
.mainmenulinks {
  background: grey;
  padding-left: 200px;
}
.leftside {
  background-color: indianred;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 20px;
  h1 {
    width: 426px;
    text-align: left;
  }
  p {
    width: 651px;
    font: normal normal 600 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.8;
    text-align: left;
  }
}
button.download {
  border: 2px solid #ffffff;
  width: 135px;
  height: 42px;
}

.firstform {
  background: cadetblue;
}

#side-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1vh;
  background: black;
  opacity: 0.5;
  width: 200px;
  transform: translateX(-200px);
  transition: 0.3s;
}

#side-menu a {
  text-decoration: none;
  text-align: right;
  font: normal normal normal 14px/17px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin: 30px 0;
}

#side-menu:hover .link {
  opacity: 0.5;
}

#side-menu .link:hover {
  opacity: 1;
}

.width {
  transform: translateX(0px) !important;
}

#burger {
  display: none;
  transition: 0.3s;
}

.rotateZ {
  transform: rotateZ(-90deg);
}

/* Top menu style */
#top-menu {
  background: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#top-menu a {
  text-decoration: none;
  text-align: right;
  font: normal normal normal 14px/17px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#top-menu:hover .link {
  opacity: 0.5;
}

#top-menu .link:hover {
  opacity: 1;
}

@media (max-width: 1000px) {
  #top-menu a {
    display: none;
  }

  #burger {
    display: block;
  }
}
