.mainpage {
  margin: 0 auto;

  background: linear-gradient(
      270deg,
      rgba(28, 28, 28, 0.63),
      rgba(28, 28, 28, 0.63)
    ),
    url("../img/photo-1480714378408-67cf0d13bc1b.png");

  padding-bottom: 100px;
  padding-top: 100px;
  background-size: cover;
  background-position: center;
}
.stuffcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: 1s;
  img {
    width: 247px;
    height: 108px;
  }
  img.divider {
    margin-top: 20px;
    width: 84px;
    height: 22px;
  }
}
.mainmenulinks {
  padding-left: 200px;
}
.leftside {
  // background-color: indianred;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 20px;

  h1 {
    width: 426px;
    text-align: left;
  }
  p {
    width: 651px;
    font: normal normal 600 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.8;
    text-align: left;
    margin-bottom: 15px;
  }
}
button.download {
  background-color: transparent;
  background-repeat: no-repeat;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: 2px solid #ffffff;
  width: 135px;
  height: 42px;
  margin-top: 10px;
  transition: 0.5s;
  &:hover {
    opacity: 0.4;
  }
}

.firstform {
  background: cadetblue;
  width: 360px;

  button {
    width: 360px;
    height: 57px;
    border-radius: 0;
    font-size: 16px;
    border-radius: 0 0 5px 5px;
  }
}
.firstsingup {
  text-align: center;

  margin: auto;
  border-radius: 5px;
  #fname {
    margin-top: 0;
  }
  span {
    color: #e27866;
  }
  p {
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 55px;
    text-align: left;

    font: normal normal 600 16px/24px Montserrat;
  }
  .checkBox {
    text-align: left;
    margin-left: 55px;
    display: block;

    #arbata {
      margin-left: 20px;
    }
  }
  .tryfree {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    border-radius: 5px 5px 0 0;
    width: 360px;
    height: 57px;
    p {
      font-size: 20px;
    }
  }
}

#side-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 0.1px;

  width: 200px;
  transform: translateX(-200px);
  transition: 0.3s;
}

#side-menu a {
  text-decoration: none;
  text-align: right;
  font: normal normal normal 14px/17px Montserrat;
  letter-spacing: 0px;
  color: white;
  opacity: 1;
  margin: 30px 0;
}

#side-menu:hover .link {
  opacity: 0.5;
}

#side-menu .link:hover {
  opacity: 1;
}

.width {
  transform: translateX(0px) !important;
}

#burger {
  display: none;
  transition: 0.3s;
}

.rotateZ {
  transform: rotateZ(-90deg);
}

/* Top menu style */
#top-menu {
  background: black;
  display: flex;

  justify-content: space-around;
  align-items: center;
  position: fixed;
  overflow: hidden;
  width: 1400px;
  top: 0;

  img {
    height: 72px;
  }
}

#top-menu a {
  text-decoration: none;

  font-size: 17px;
  padding: 14px 16px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  #top-menu a {
    display: none;
  }

  #burger {
    display: block;
    position: fixed;
  }

  .stuffcontainer {
    flex-wrap: wrap;
  }
}
