.socialfooter {
  background: #ffffff;
  .socialtext {
    margin: 0 auto;
    h2 {
      font-size: 20px;
      margin: 0;
      margin-top: 10px;
    }
    p {
      margin-top: 5px;
      text-align: left;
      color: #86878b;
      width: 410px;
    }
  }
}
