@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Montserrat:wght@100;400;600&display=swap");
@import "variables";
html {
  box-sizing: border-box;
  font-family: Montserrat, Regular;
}
input:focus {
  outline: none;
}

body {
  margin: 0px auto;
  max-width: 1400px;
}
@import "mainpage";
@import "socialmedia";
@import "exploresection";
@import "cheshire";
@import "awesome";
@import "blueoffer";
@import "customers";
@import "form";
@import "footer";
